<div nz-row nzType="flex" nzAlign="top" nzJustify="space-around" [nzGutter]="8" class="device-component-container">
        <div nz-col class="device-tool-bar" *ngIf="showToolBar">
                <div>
                        <label>设备：</label>
                        <nz-select style="width: 200px"
                                             nzAllowClear
                                             [nzPlaceHolder]="'选择设备'"
                                             [(ngModel)]="device"
                                             nzShowSearch>
                                <nz-option
                                        *ngFor="let option of deviceOptions"
                                        [nzLabel]="option.label"
                                        [nzValue]="option.value"
                                >
                                </nz-option>
                        </nz-select>
                </div>
        </div>
        <div nz-col class="device">
                <div class="device-screen" [ngClass]="device">
                        <div class="message-box">
                                <div class="message-header" nz-row nzType="flex" nzJustify="middle" nzAlign="start">
                                        <div nz-col class="message-header-icon">
                                                <img src="{{icon}}" alt="">
                                        </div>
                                        <div nz-col class="message-header-app-name">
                                                {{app}}
                                        </div>
                                </div>
                                <div class="message-body">
                                        <div nz-row nzType="flex" nzJustify="space-between" nzAlign="bottom" class="message-body-content"
                                                 [ngClass]="!data.img?'no-img-content':''">
                                                <div nz-col class="message-body-left">
                                                        <div class="message-body-title">
                                                                {{data.title}}
                                                        </div>
                                                        <div class="message-body-text">
                                                                <pre style="white-space: normal;margin-bottom: 0">{{data.content}}</pre>
                                                        </div>
                                                </div>
                                                <div nz-col class="message-body-img">
                                                        <img src="{{data.img}}" alt="" #imgContent>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>


