<div class="nrk-main" [ngStyle]="{'height':'100%'}" #main>
        <div class="nrk-body">
                <div class="search-bar">
                        <nz-input-group nzCompact style="width: 600px;display: inline-block;vertical-align: top">
                                <nz-select [(ngModel)]="q.key" style="width:100px" [nzPlaceHolder]="'选择查询类型'">
                                        <nz-option *ngFor="let option of searchType" [nzLabel]="option.name"
                                                             [nzValue]="option.value"></nz-option>
                                </nz-select>
                                <input [(ngModel)]="q.value" nz-input style="width:450px" placeholder="输入查询信息"/>
                                <button nz-button nzType="primary" (click)="search()"><i
                                        class="anticon anticon-search"></i></button>
                        </nz-input-group>
                        <button nz-button [nzType]="'primary'" (click)="showActionModal('A')">
                                新增弹药
                        </button>
                </div>
                <div class="filter-container">
                        <div nz-row class="filter-view" [nzType]="'flex'" [nzAlign]="'middle'" [nzJustify]="'start'">
                                <div nz-col class="filter-title">
                                        已选条件：
                                </div>
                                <div nz-col [nzSpan]="18">
                                        <nz-tag [nzMode]="'closeable'" (nzOnClose)="onClose($event,key)"
                                                        *ngFor="let key of getKeys()">
                                                <span>{{keyMap[key]}}:</span>
                                                <span *ngFor="let item of filterView[key]">
                                                                                                                                                                                                                                {{item.checked?item.name+'，':''}}
                                                                                                                                                                                                </span>
                                        </nz-tag>
                                </div>
                                <div nz-col class="filter-action">
                                        <a (click)="clearQuery()" class="action-item">
                                                清空
                                        </a>
                                        <a (click)="expendFilter()" class="action-item">
                                                {{expend?"收起":"展开"}}
                                                <i class="anticon anticon-down" *ngIf="!expend"></i>
                                                <i class="anticon anticon-up" *ngIf="expend"></i>
                                        </a>
                                </div>
                        </div>
                        <div *ngIf="expend">
                                <div nz-row class="filter-row" [nzType]="'flex'" [nzAlign]="'middle'" [nzJustify]="'start'">
                                        <div nz-col class="filter-title">
                                                目的地：
                                        </div>
                                        <div nz-col [nzSpan]="20">
                                                <suggest
                                                        [width]="500"
                                                        [mode]="'multiple'"
                                                        [url]="'/mdd-api/search/suggest?limit=5'"
                                                        [key]="'name'"
                                                        [size]="'small'"
                                                        [allowClear]="true"
                                                        [placeholder]="'请输入目的地名称'"
                                                        (valueChange)="selectChange($event,'mdd')"
                                                        [(value)]="q.mdd"
                                                        [searchOptions]="initSuggestOptions"
                                                ></suggest>
                                        </div>
                                        <div nz-col [nzSpan]="2" class="filter-action">

                                        </div>
                                </div>
                                <div nz-row class="filter-row" [nzType]="'flex'" [nzAlign]="'middle'" [nzJustify]="'start'">
                                        <div nz-col class="filter-title">
                                                落地页类型：
                                        </div>
                                        <div nz-col [nzSpan]="20">
                                                <nz-tag
                                                        nzMode="checkable"
                                                        *ngFor="let option of filterView.contentType"
                                                        [nzChecked]="option.checked" (nzCheckedChange)="handleCheck(option,'contentType',$event)">
                                                        {{option.name}}
                                                </nz-tag>
                                        </div>
                                        <div nz-col [nzSpan]="2" class="filter-action">

                                        </div>
                                </div>
                                <div nz-row class="filter-row" [nzType]="'flex'" [nzAlign]="'middle'" [nzJustify]="'start'">
                                        <div nz-col class="filter-title">
                                                课程类型：
                                        </div>
                                        <div nz-col [nzSpan]="20">
                                                <nz-tag
                                                        nzMode="checkable"
                                                        *ngFor="let option of filterView.courseType"
                                                        [nzChecked]="option.checked" (nzCheckedChange)="handleCheck(option,'courseType',$event)">
                                                        {{option.name}}
                                                </nz-tag>
                                        </div>
                                        <div nz-col [nzSpan]="2" class="filter-action">
                                        </div>
                                </div>
                                <div nz-row class="filter-row last" [nzType]="'flex'" [nzAlign]="'middle'"
                                         [nzJustify]="'start'">
                                        <div nz-col class="filter-title">
                                                状态：
                                        </div>
                                        <div nz-col [nzSpan]="18">
                                                <nz-tag
                                                        nzMode="checkable"
                                                        *ngFor="let option of filterView.status"
                                                        [nzChecked]="option.checked" (nzCheckedChange)="handleCheck(option,'status',$event)">
                                                        {{option.name}}
                                                </nz-tag>
                                        </div>
                                        <div nz-col class="filter-action" *ngIf="data.length">
                                                <nz-pagination (click)="pageChange()"
                                                                             [nzPageSize]="pageOption.count"
                                                                             [nzSize]="'small'"
                                                                             [nzShowTotal]="totalTemplate"
                                                                             [(nzPageIndex)]="pageOption.curPage" [nzTotal]="total"></nz-pagination>
                                                <ng-template #totalTemplate let-total>
                                                        共 {{total}} 条
                                                </ng-template>
                                        </div>
                                </div>
                        </div>
                </div>
                <nz-spin [nzSpinning]="loading">
                        <div class="data-container">
                                <div *ngIf="!data.length" style="text-align: center;padding: 10px">
                                        <span style="color: rgba(0, 0, 0, 0.43)">没有数据</span>
                                </div>
                                <div *ngFor="let d of data;let i = index;" class="data-block">
                                        <div style="" class="data-title">
                                                #{{i+1}}
                                                落地页:
                                                <a href="{{buildUrl(d.url)}}" target="_blank" style="font-size: 12px">
                                                        {{d.url}}
                                                </a>
                                                <span *ngIf="d.status==0" style="color:red;margin-right: 5px;font-size: 12px">链接格式错误</span>
                                                <span *ngIf="d.status!=200&&d.status!=0" style="color:red;margin-right: 5px;font-size: 12px">页面异常</span>
                                                <nz-tooltip [nzTitle]="'内容类型'" [nzPlacement]="'top'">
                                                        <nz-tag [nzColor]="'green'" nz-tooltip *ngIf="d.content_type">
                                                                <i class="anticon anticon-tags-o"></i>
                                                                <span style="font-size: 12px">{{d.content_type|_content_type}}</span>
                                                        </nz-tag>
                                                </nz-tooltip>
                                                <nz-tooltip [nzTitle]="'目的地'" [nzPlacement]="'top'">
                                                        <nz-tag [nzColor]="'blue'" nz-tooltip *ngIf="d.mdd_id">
                                                                <i class="anticon anticon-environment-o"></i>
                                                                <span style="font-size: 12px">{{d.mdd_name}}({{d.mdd_id}})</span>
                                                        </nz-tag>
                                                </nz-tooltip>
                                        </div>
                                        <div nz-row [nzType]="'flex'" [nzJustify]="'start'" [nzGutter]="8" class="data-item-container">
                                                <div nz-col [nzSpan]="24" *ngIf="!d.message||(d.message&&!d.message.length)"
                                                         style="text-align: center;">
                                                        <span style="font-size:12px;color: rgba(0, 0, 0, 0.43)">暂无弹药</span>
                                                </div>
                                                <div nz-col class="data-item" *ngFor="let item of d.message">
                                                        <nz-badge [nzDot]="item.status===1">
                                                                <nz-card>
                                                                        <div class="badge-icon" *ngIf="item.status!==1">
                                                                                <i class="fail anticon anticon-close-circle-o"
                                                                                     *ngIf="item.status===2"></i>
                                                                                <i class="success anticon anticon-check-circle-o"
                                                                                     *ngIf="item.status===0"></i>
                                                                        </div>
                                                                        <div class="data-item-preview" nz-row
                                                                                 [nzAlign]="'middle'" [nzGutter]="8">
                                                                                <div nz-col style="display: inline-block">
                                                                                        <device-preview
                                                                                                [data]="{
                                                                                                                                                                                                                                                                app:'马蜂窝旅游',
                                                                                                                                                                                                                                                                title:item.msg_title,
                                                                                                                                                                                                                                                                content:item.msg_content,
                                                                                                                                                                                                                                                                img:item.att_file_url
                                                                                                                                                                                                                                }"
                                                                                                [part]="true"
                                                                                        >
                                                                                        </device-preview>
                                                                                </div>
                                                                        </div>
                                                                        <div class="data-item-info" nz-row>
                                                                                <div nz-col nzSpan="12">
                                                                                        <nz-tooltip [nzTitle]="'弹药ID'" [nzPlacement]="'top'">
                                                                                                <span class="anticon" nz-tooltip *ngIf="item.id"># {{item.id}}</span>
                                                                                        </nz-tooltip>
                                                                                </div>
                                                                                <div nz-col nzSpan="12">
                                                                                        <nz-tooltip [nzTitle]="'创建人'" [nzPlacement]="'top'">
                                                                                                <i class="anticon anticon-user" nz-tooltip></i>
                                                                                                <span *ngIf="item.creator">{{item.creator}}</span>
                                                                                        </nz-tooltip>
                                                                                </div>
                                                                                <div nz-col nzSpan="12">
                                                                                        <nz-tooltip [nzTitle]="'创建时间'" [nzPlacement]="'top'">
                                                                                                <i class="anticon anticon-clock-circle-o" nz-tooltip></i>
                                                                                                <span *ngIf="item.ctime">{{item.ctime}}</span>
                                                                                        </nz-tooltip>
                                                                                </div>
                                                                                <div nz-col nzSpan="12">
                                                                                        <nz-tooltip [nzTitle]="'生效时间范围'" [nzPlacement]="'top'">
                                                                                                                                                                                                <span nz-tooltip>
                                                                                                                                                                                                                                <i class="anticon anticon-clock-circle"></i>
                                                                                                                                                                                                                                <span
                                                                                                                                                                                                                                        *ngIf="item.valid_start_time==0">长期
                                                                                                                                                                                                                                </span>
                                                                                                                                                                                                                                <span
                                                                                                                                                                                                                                        *ngIf="!item.valid_start_time==0">{{item.valid_start_time|_date:'YYYY/MM/DD'}} ~ {{item.valid_end_time|_date:'YYYY/MM/DD'}}
                                                                                                                                                                                                                                </span>
                                                                                                                                                                                                </span>
                                                                                        </nz-tooltip>
                                                                                </div>
                                                                                <div nz-col nzSpan="12" *ngIf="item.usage_type.length">
                                                                                        <nz-tooltip [nzTitle]="'使用场景'" [nzPlacement]="'top'">
                                                                                                                                                                                                <span nz-tooltip>
                                                                                                                                                                                                        <i class="anticon anticon-notification"></i>
                                                                                                                                                                                                        <span
                                                                                                                                                                                                                style="margin-right: 5px"
                                                                                                                                                                                                                *ngFor="let usage of item.usage_type">
                                                                                                                                                                                                                                        {{usage|_translate:'course_type'}}
                                                                                                                                                                                                        </span>
                                                                                                                                                                                                </span>
                                                                                        </nz-tooltip>
                                                                                </div>
                                                                        </div>
                                                                        <div *ngIf="item.usage" class="data-item-usage" nz-row nzType="flex"
                                                                                 [nzAlign]="'middle'">
                                                                                <div nz-col [nzSpan]="24" *ngFor="let lesson of item.usage"
                                                                                         style="font-size: 12px">
                                                                                        <div>
                                                                                                <nz-badge [nzStatus]="lesson.status==1?'success':'error'"
                                                                                                                    style="margin-left: 5px"
                                                                                                ></nz-badge>
                                                                                                <span>
                                                                                                                                                                                                                                {{lesson.type|_translate:'course_type'}} - 课程id:{{lesson.id}} - {{lesson.description}}
                                                                                                                                                                                                </span>
                                                                                        </div>
                                                                                        <div style="padding-left: 16px">
                                                                                                <span style="color: red;" *ngIf="lesson.open_rate!==null">周打开率:{{(lesson.open_rate*100).toFixed(2) +'%'}} -</span>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                        <div class="data-item-action">
                                                                                <a (click)="showActionModal('M',item,d)" style="font-size: 12px"><i
                                                                                        class="anticon anticon-edit"></i></a>
                                                                                <nz-divider nzType="vertical"></nz-divider>
                                                                                <nz-popconfirm [nzTitle]="'确定要删除吗？'"
                                                                                                             (nzOnConfirm)="deleteMessage(item.id)">
                                                                                        <a nz-popconfirm style="font-size: 12px"><i
                                                                                                class="anticon anticon-delete"></i></a>
                                                                                </nz-popconfirm>
                                                                                <nz-divider nzType="vertical"></nz-divider>
                                                                                <nz-radio-group [nzSize]="'small'" [(ngModel)]="item.status"
                                                                                                                (ngModelChange)="changeStatus(item,$event)">
                                                                                        <label nz-radio-button [nzValue]="0" class="green-bth">
                                                                                                <span style="font-size: 12px">通过</span>
                                                                                        </label>
                                                                                        <label nz-radio-button [nzValue]="2" class="red-bth">
                                                                                                <span style="font-size: 12px">驳回</span>
                                                                                        </label>
                                                                                </nz-radio-group>
                                                                        </div>
                                                                </nz-card>
                                                        </nz-badge>
                                                </div>
                                        </div>
                                </div>
                                <div class="page-content" *ngIf="data.length">
                                        <nz-pagination (click)="pageChange()"
                                                                     [nzPageSize]="pageOption.count"
                                                                     [nzSize]="'small'"
                                                                     [nzShowTotal]="totalTemplate"
                                                                     [(nzPageIndex)]="pageOption.curPage"
                                                                     [nzTotal]="total"></nz-pagination>
                                        <ng-template #totalTemplate let-total>
                                                共 {{total}} 条
                                        </ng-template>
                                </div>
                        </div>
                </nz-spin>
        </div>
        <nz-back-top [nzTarget]="main" [nzVisibilityHeight]="1500"></nz-back-top>
        <nz-modal [nzVisible]="actionModalVisible"
                            style="position: absolute;right: 0;"
                            [nzTitle]="(modalType=='A'?'新增':'修改')+'弹药'"
                            [nzContent]="actionModalContent"
                            (nzOnCancel)="handleCancel()"
                            (nzOnOk)="handleActionOk()"
                            [nzWidth]="600"
                            [nzOkLoading]="submitLoading"
                            [nzMaskClosable]="false"
        >
        </nz-modal>
        <ng-template #actionModalContent>
                <form nz-form [formGroup]="validateForm">
                        <nz-form-item>
                                <nz-form-label [nzSm]="6">标题</nz-form-label>
                                <nz-form-control [nzSm]="14">
                                        <input formControlName="msg_title" nz-input placeholder="请输入标题"/>
                                        <nz-form-explain
                                                *ngIf="(getFormControl('msg_title').dirty || getFormControl('msg_title').touched)&& getFormControl('msg_title').hasError('required')">
                                                请输入标题
                                        </nz-form-explain>
                                </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                                <nz-form-label [nzSm]="6">内容</nz-form-label>
                                <nz-form-control [nzSm]="14" [nzXs]="20">
                                        <textarea nzType="textarea" formControlName="msg_content" nz-input placeholder="请输入内容"></textarea>
                                        <nz-form-explain
                                                *ngIf="(getFormControl('msg_content').dirty || getFormControl('msg_content').touched)&&getFormControl('msg_content').hasError('required')">
                                                请输入内容
                                        </nz-form-explain>
                                </nz-form-control>
                                <nz-col nzOffset="1" [nzSm]="3" [nzXs]="3">
                                        <emoji-picker (selected)="selectEmoji($event)"></emoji-picker>
                                </nz-col>
                        </nz-form-item>
                        <nz-form-item>
                                <nz-form-label [nzSm]="6">url</nz-form-label>
                                <nz-form-control [nzSm]="14">
                                        <input formControlName="url" nz-input placeholder="请输入url"/>
                                        <nz-form-explain
                                                *ngIf="(getFormControl('url').dirty || getFormControl('url').touched)&& getFormControl('url').hasError('required')">
                                                请输入url
                                        </nz-form-explain>
                                </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                                <nz-form-label [nzSm]="6">图片</nz-form-label>
                                <nz-form-control [nzSm]="14">
                                        <nz-row nzType="flex" nzAlign="middle">
                                                <nz-col [nzSpan]="16">
                                                        <input formControlName="att_file" nz-input placeholder="图片路径"/>
                                                </nz-col>
                                                <nz-col [nzMd]="{span:6,offset:1}">
                                                        <custom-file-upload
                                                                [mTitle]="'上传图片'"
                                                                [url]="'/interface/FileUploader/upload?type=att_file'"
                                                                [accept]="'image/png,image/jpeg,image/jpg'"
                                                                (uploaded)="uploadComplete($event,'att_file')">
                                                        </custom-file-upload>
                                                </nz-col>
                                        </nz-row>
                                </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                                <nz-form-label [nzSm]="6">内容类型</nz-form-label>
                                <nz-form-control [nzSm]="14">
                                        <nz-select [nzShowSearch]="true" [nzPlaceHolder]="'请选择内容类型'" formControlName="content_type"
                                                             [nzNotFoundContent]="'无法找到'">
                                                <nz-option *ngFor="let option of contentTypeOptions" [nzLabel]="option.description"
                                                                     [nzValue]="option.key"></nz-option>
                                        </nz-select>
                                        <nz-form-explain
                                                *ngIf="(getFormControl('content_type').dirty || getFormControl('content_type').touched)           && getFormControl('content_type').hasError('required')">
                                                请选择内容类型
                                        </nz-form-explain>
                                </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                                <nz-form-label [nzSm]="6" [nzXs]="24">目的地</nz-form-label>
                                <nz-form-control [nzSm]="14" [nzXs]="24">
                                        <nz-select [nzServerSearch]="true" formControlName="mdd_select" nzAllowClear
                                                             [nzPlaceHolder]="'请输入目的地名称'"
                                                             [nzShowSearch]="true" (nzOnSearch)="fetchMdd($event)" [nzNotFoundContent]="'未找到目的地'">
                                                <nz-option *ngFor="let i of searchOptions" [nzLabel]="i.name+'('+i.id+')'"
                                                                     [nzValue]="i"></nz-option>
                                        </nz-select>
                                        <nz-form-explain
                                                *ngIf="(getFormControl('mdd_select').dirty || getFormControl('mdd_select').touched)           && getFormControl('mdd_select').hasError('required')">
                                                请输入目的地
                                        </nz-form-explain>
                                </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                                <nz-form-label [nzSm]="6">使用场景</nz-form-label>
                                <nz-form-control [nzSm]="14">
                                        <nz-select [nzMode]="'multiple'" [nzPlaceHolder]="'请选择内容类型'" formControlName="usage_type"
                                                             [nzNotFoundContent]="'无法找到'">
                                                <nz-option *ngFor="let option of usageTypes" [nzLabel]="option.name"
                                                                     [nzValue]="option.value"></nz-option>
                                        </nz-select>
                                        <nz-form-explain
                                                *ngIf="(getFormControl('usage_type').dirty || getFormControl('usage_type').touched)           && getFormControl('usage_type').hasError('required')">
                                                请选择使用场景
                                        </nz-form-explain>
                                </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                                <nz-form-label [nzSm]="6">生效日期</nz-form-label>
                                <nz-form-control [nzSm]="14">
                                        <nz-switch [nzSize]="'small'" formControlName="has_time_range"></nz-switch>
                                </nz-form-control>
                                <div *ngIf="validateForm.value.has_time_range">
                                        <nz-form-control nzOffset="6" [nzSm]="7">
                                                <nz-date-picker [nzAllowClear]="false" formControlName="start" style="width: 100%;"
                                                                                [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'起始时间'"
                                                ></nz-date-picker>
                                        </nz-form-control>
                                        <nz-form-control [nzSm]="7" nzOffset="1">
                                                <nz-date-picker [nzAllowClear]="false" formControlName="end" style="width: 100%;"
                                                                                [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'结束时间'"
                                                ></nz-date-picker>
                                        </nz-form-control>
                                </div>
                        </nz-form-item>
                </form>
        </ng-template>
</div>
